.Button {
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 50px;
  color: white;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: bold;
  width: 300px;
  box-sizing: border-box;
  height: 55px;
  font-size: 18px;
}

.Button:active {
  position: relative;
  top: 2px;
}

.success {
  color: #4caf50;
}
.success:hover,
.success:focus {
  border-color: #4caf50;
}

.danger {
  color: #f44336;
}
.danger:hover,
.danger:focus {
  border-color: #f44336;
}

.warning {
  color: orange;
}
.warning:hover,
.warning:focus {
  border-color: orange;
}

@media only screen and (max-width: 499px) {
  .Button {
    padding: 5px 20px;
    width: 250px;
    height: 40px;
    font-size: 14px;
  }
}
